*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary: #4237d6;
}

.main{
    max-width: 375px;
}

.nav-bar{
    border-bottom: 1px solid rgb(241, 240, 240);
    height: 4vh;
    padding: 7px 5px 0px 5px;
    font-size: 7px;
    display: flex;
    justify-content: space-between;
}

.nav-bar .nav-list{
    display: flex;
}

.nav-list .active{
    color: var(--primary);
}

.components{
    list-style: none;
    padding-right: 3px;
}

.sign-up-btn{
    background-color: var(--primary);
    color: white;
    border-radius: 0.3rem;
    height: 8px;
    width: 30px;
    text-align: center;
}

.content-header .heading{
    text-align: center;
    padding-top: 2rem;
}

.heading div{
    color: var(--primary);
}

.content-header p{
    font-size: 6px;
    padding: 1rem 5.5rem;
    text-align: center;
    color: grey;
}

.purchase{
    text-align: center;
    position: relative;
}

.purchase-btn{
    font-size: 6px;
    width: 55px;
    height: 3vh;
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 0.5rem;
}

.btn-overlay{
    position: absolute;
    font-size: 5px;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(64, 194, 151);
    color: white;
    height: 1vh;
    padding: 1px 3px;
    top: 1px;
    right: 140px;
    z-index: 1;
}

.learn-more{
    color: var(--primary);
    font-size: 3px;
    padding-top: 0.2rem;
}

.companies h4{
    text-align: center;
    font-size: 5px;
    padding-top: 3rem;
}

.logos{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.company-logos{
    width: 30px;
    height: 30px;
}

.goals-illustration-one{
    width: 150px;
    height: 150px;
    float: left;
    padding-left: 1.5rem;
    padding-top: 2rem;
}

.goals-illustration-two{
    width: 150px;
    height: 150px;
    float: right;
    padding-right: 3rem;
    padding-top: 1.5rem;
}

.goal-one{
    padding-left: 2rem;
}

.goal-one h4{
    font-size: 10px;
    padding-top: 3.5rem;
    float: left;
} 

.goal-one p{
    font-size: 6px;
    color: grey;
    padding-right: 4rem;
    padding-top: 4.5rem;
}

.goal-one-list{
    font-size: 6px;
    color: grey;
    padding-top: 0.5rem;
}

.goal-one-list li{
    list-style-image: url(./Images/list-svgrepo-com.svg)
}

.goal-two{
    padding-left: 3rem;
}

.goal-two h4{
    font-size: 10px;
    padding-top: 1rem;
    float: left;
}

.goal-two p{
    font-size: 6px;
    color: grey;
    padding-top: 4.5rem;
}

.goal-two-list{
    font-size: 6px;
    color: grey;
    padding-top: 0.5rem;
}

.goal-two-list li{
    list-style-image: url(./Images/list-svgrepo-com.svg)
}

.features{
    text-align: center;
    padding-top: 3rem;
}

.features-heading{
    font-size: 12px;
}

.features p{
    color: grey;
    font-size: 6px;
}

.features-img{
    border: none;
    background-color: var(--primary);
    border-radius: 50%;
    color: white;
    height: 17px;
    width: 17px;
    font-size: 8px;
    padding: 5px 2px 0px 2px;
    margin-top: 0.5rem;
}

.features-list{
    padding-left: 1.2rem;
    display: grid;
    grid-template-columns: auto auto auto;
}

.features-grid{
    border: none;
    border-radius: 0.2rem;
    background-color: rgb(240, 240, 250);
    margin: 0.5rem 0rem;
    width: 80px;
    height: 60px;
}

.features-grid h5{
    font-size: 6px;
    color: grey;
    padding: 2px 0px;
}

.features-grid p{
    color: grey;
}

.team{
    padding-left: 15px;
    padding-top: 3rem;
}

.team-members{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.team-img{
    width: 55px;
    height: 55px;
    margin: 0.3rem;
    border-radius: 50%;
}

.team-header{
    padding-left: 5px;
}

.team-header h4{
    color: var(--primary);
    font-size: 5px;
}

.team-header h3{
    font-size: 12px;
    width: 150px;
}

.team-name{
    text-align: center;
    font-size: 7px;
    padding-right: 10px;
}

.team-desc{
    text-align: center;
    font-size: 7px;
    padding-right: 10px;
    color: var(--primary);
}

.social{
    padding-left: 20px;
    color: rgb(202, 201, 201);
}

.social-icons{
    font-size: 10px;
}

.project-blog{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 20px;
}

.project-blog h3{
    padding-left: 8px;
}

.project-blog p{
    font-size: 10px;
    color: grey;
    padding-left: 8px;
}

.proj-img{
    width: 90px;
    height: 90px;
    padding-top: 15px;
    padding-left: 8px;
}

.proj-img2{
    width: 90px;
    height: 90px;
    margin-left: 8px;
    border-radius: 0.2rem 0.2rem 0rem 0rem;
}

.part-one{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;   
}

.part-one-one{
    position: relative;
}

.proj-overlap{
    position: absolute;
    top: 87px;
    left: 15px;
    font-size: 3.5px;
    color: rgb(109, 8, 87);
    border-radius: 0.3rem;
    padding: 1px 3px;
    z-index: 1;
    background-color: white;
    border: none;
}

.proj-overlap-two{
    position: absolute;
    top: 86px;
    left: 15px;
    font-size: 3.5px;
    color: rgb(8, 9, 88);
    border-radius: 0.3rem;
    padding: 1px 3px;
    z-index: 1;
    background-color: white;
    border: none;
}

.proj-desc h4{
    font-size: 12px;
    padding-left: 8px;
    color: white;
}

.proj-desc p{
    padding: 5px 1px 0px 8px;
    font-size: 5px;
    color: white;
}

.proj-desc-one{
    position: absolute;
    top:90px;
    background-color: rgb(221, 115, 198);
    padding-top: 5px;
    border-radius: 0rem 0rem 0.2rem 0.2rem;
    width: 82px;
    height: 65px;
    margin-left: 8px;
}

.part-one-two{
    position: relative;
}

.proj-desc-two{
    position: relative;
    bottom: 5px;
    width: 90px;
    height: 65px;
    margin-left: 8px;
    padding-top: 5px;
    background-color: rgb(39, 145, 207);
    border-radius: 0rem 0rem 0.2rem 0.2rem;
}


.part-one-three{
    position: relative;
}

.proj-desc-three{
    position: absolute;
    top: 90px;
    background-color: rgb(240, 198, 61);
    padding-top: 5px;
    border-radius: 0rem 0rem 0.2rem 0.2rem;
    width: 82px;
    height: 65px;
    margin-left: 8px;
}

.proj-overlap-three{
    position: absolute;
    top: 87px;
    left: 15px;
    font-size: 3.5px;
    color: rgb(163, 128, 10);
    border-radius: 0.3rem;
    padding: 1px 3px;
    z-index: 1;
    background-color: white;
    border: none;
}

.part-two{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.blog-img{
    width: 90px;
    height: 55px;
    border-radius: 0.2rem 0.2rem 0rem 0rem;
}

.blog-overlap{
    position: absolute;
    font-size: 3.5px;
    color: white;
    border-radius: 0.3rem;
    padding: 1px 3px;
    z-index: 1;
}

.part-two .blog-overlap-one{
    top:62px;
    left: 15px;
    background-color: rgb(221, 115, 198);
}

.part-two .blog-overlap-two{
    top:62px;
    left: 113px;
    background-color: rgb(240, 198, 61);
}

.part-two .blog-overlap-three{
    top:62px;
    left: 211px;
    background-color: rgb(39, 145, 207);
}

.part-two h5{
    font-size: 6px;
    padding-left: 8px;
    padding-top: 2px;
}

.part-two p{
    font-size: 5px;
    padding: 3px 5px 0px 8px;
}

.blogs{
    margin-top: 10px;
    margin-left: 8px;
    border-radius: 0.2rem;
}

.blog-desc{
    position: absolute;
    border: 1px solid rgb(224, 222, 222);
    top: 64px;
    width: 88px;
    padding: 5px 0rem;
    border-radius: 0rem 0rem 0.2rem 0.2rem;
}

.footer{
    padding: 4rem 0rem 1rem 0rem;
}
.footer-list{
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
}

.footer-list{
    list-style: none;
    font-size: 6px;
    color: grey;
}

.footer-icons{
    font-size: 7px;
    color: grey;
    padding-right: 2px;
}

.footer-social{
    text-align: center;
}

.footer-copyright{
    font-size: 6px;
    text-align: center;
    padding-top: 3px;
    color: rgb(168, 167, 167);
}

@media only screen and (min-width: 375px) {
    .main{
        max-width: 100vw;
    }

    .nav-bar{
        border-bottom: 1px solid rgb(241, 240, 240);
        height: 8vh;
        padding: 0rem 0.5rem;
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-bar .nav-list{
        display: flex;
        column-gap: 30px;
    }

    .sign-in{
        padding-top: 0.5rem;
    }
    
    .sign-up-btn{
        background-color: var(--primary);
        color: white;
        border-radius: 1rem;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
    }

    .content-header .heading{
        font-size: 65px;
        text-align: center;
        padding-top: 6rem;
    }
    
    .content-header p{
        font-size: 18px;
        width: 600px;
        margin: auto;
        color: grey;
        padding-top: 1.5rem;
    }
    
    .purchase-btn{
        font-size: 15px;
        width: 150px;
        height: 6vh;
        border-radius: 2.5rem;
        margin-top: 1.5rem;
    }
    
    .btn-overlay{
        position: absolute;
        font-size: 12px;
        height: 3vh;
        width: 75px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 15px;
        right: 570px;
    }

    .learn-more{
        font-size: 14px;
        color: var(--primary);
        padding-top: 0.5rem;
    }
    
    .companies h4{
        font-size: 14px;
        padding-top: 8rem;
    }
    
    .logos{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    
    .company-logos{
        width: 120px;
        height: 80px;
    }


    .goal-one-full{
        margin-left: 16rem;
        margin-top: 4rem;
    }

    .goals-illustration-one{
        width: 450px;
        height: 400px;
        float: left;
        padding-left: 0rem;
        padding-top: 0rem;
        padding-right: 3rem;
    }
    
    .goals-illustration-two{
        width: 600px;
        height: 450px;
        float: right;
        padding-right: 15rem;
        padding-top: 5rem;
    }

    .goal-one h4{
        font-size: 32px;
        padding-top: 5rem;
        float: left;
    } 
    
    .goal-one p{
        font-size: 19px;
        color: rgb(97, 96, 96);
        padding-right: 14rem;
        padding-top: 8rem;
    }
    
    .goal-one-list{
        font-size: 17px;
        color: grey;
        padding-top: 1rem;
    }
    
    .goal-one-list li{
        list-style-image: url(./Images/list-svgrepo-com.svg)
    }

    .goal-two{
        padding-left: 0rem;
    }
    
    .goal-two h4{
        font-size: 32px;
        padding-top: 1rem;
        float: left;
        padding-left: 20rem;
    }
    
    .goal-two p{
        font-size: 19px;
        color: rgb(97, 96, 96);
        padding-top: 13.5rem;
        padding-left: 20rem;
        width: 700px;
    }
    
    .goal-two-list{
        font-size: 17px;
        color: grey;
        padding-top: 1rem;
        padding-left: 20rem;
    }
    
    .goal-two-list li{
        list-style-image: url(./Images/list-svgrepo-com.svg)
    }

    .features{
        text-align: center;
        padding-top: 12rem;
    }

    .features-heading{
        font-size: 32px;
    }
    
    .features p{
        color: grey;
        font-size: 16px;
        padding-top: 0.5rem;
    }
    
    .features-img{
        border: none;
        background-color: var(--primary);
        border-radius: 50%;
        color: white;
        height: 50px;
        width: 50px;
        font-size: 20px;
        padding: 15px 2px 0px 2px;
        margin-top: 2rem;
    }
    
    .features-list{
        padding-left: 12rem;
        padding-right: 10rem;
        padding-top: 2rem;
        display: grid;
        grid-template-columns: auto auto auto;
        
    }
    
    .features-grid{
        border: none;
        border-radius: 0.8rem;
        background-color: rgb(240, 240, 250);
        margin: 1rem 0rem;
        width: 300px;
        height: 200px;
    }
    
    .features-grid h5{
        font-size: 18px;
        color: grey;
        padding: 10px 0px;
    }
    
    .features-grid p{
        color: grey;
        padding: 0px 20px;
    }

    .team{
        padding-left: 12rem;
        padding-top: 3rem;
        padding-right: 8rem;
    }
    
    .team-members{
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding-top: 2rem;
        row-gap: 2rem;
    }
    
    .team-img{
        width: 180px;
        height: 180px;
        margin: 0rem;
        border-radius: 50%;
        border: 1rem solid rgb(241, 241, 241);
    }
    
    .team-header{
        padding-left: 0px;
    }
    
    .team-header h4{
        color: var(--primary);
        font-size: 15px;
    }
    
    .team-header h3{
        font-size: 38px;
        width: 400px;
        padding-top: 1rem;
    }
    
    .team-name{
        padding-top: 1rem;
        text-align: center;
        font-size: 18px;
        padding-right: 5rem;
    }
    
    .team-desc{
        font-size: 18px;
        padding-right: 5rem;
        color: var(--primary);
    }

    .social{
        padding-left: 4rem;
        padding-top: 0.5rem;
        color: rgb(202, 201, 201);
    }
    
    .social-icons{
        font-size: 20px;
        padding-right: 0.5rem;
    }

    .project-blog{
        padding-top: 4rem;
        padding-left: 10px;
        padding-right: 20px;
    }
    
    .project-blog h3{
        padding-left: 10rem;
        font-size: 50px;
    }
    
    .project-blog p{
        font-size: 22px;
        color: grey;
        padding-left: 10rem;
        padding-bottom: 3rem;
    }
    
    .proj-img{
        width: 330px;
        height: 330px;
        padding-top: 0rem;
        margin-top: 2rem;
        padding-left: 8px;
    }
    
    .proj-img2{
        width: 330px;
        height: 360px;
        margin-left: 8px;
        border-radius: 0.6rem 0.6rem 0rem 0rem;
    }
    
    .part-one{
        display: flex;
        justify-content: space-around;
        padding-top: 15px; 
        padding: 0rem 8rem;  
    }

    .proj-overlap{
        position: absolute;
        top: 349px;
        left: 30px;
        font-size: 12px;
        color: rgb(109, 8, 87);
        border-radius: 0.8rem;
        padding: 0.3rem 1rem;
        z-index: 1;
        background-color: white;
        border: none
    }
    
    .proj-overlap-two{
        position: absolute;
        top: 346px;
        left: 30px;
        font-size: 12px;
        color: rgb(8, 9, 88);
        border-radius: 0.8rem;
        padding: 0.3rem 1rem;
        z-index: 1;
        background-color: white;
        border: none;
    }

    .proj-desc h4{
        font-size: 40px;
        padding-left: 24px;
        padding-top: 12px;
        color: white;
    }
    
    .proj-desc p{
        padding: 14px 40px 0px 24px;
        font-size: 18px;
        color: white;
    }
    
    .proj-desc-one{
        position: absolute;
        top: 362px;
        background-color: rgb(221, 115, 198);
        padding-top: 5px;
        border-radius: 0rem 0rem 0.6rem 0.6rem;
        width: 322px;
        height: 200px;
        margin-left: 8px;
    }

    .proj-desc-two{
        position: relative;
        bottom: 5px;
        width: 330px;
        height: 200px;
        margin-left: 8px;
        padding-top: 5px;
        background-color: rgb(39, 145, 207);
        border-radius: 0rem 0rem 0.5rem 0.5rem;
    }
    
    
    .part-one-three{
        position: relative;
    }
    
    .proj-desc-three{
        position: absolute;
        top: 362px;
        background-color: rgb(240, 198, 61);
        padding-top: 5px;
        border-radius: 0rem 0rem 0.5rem 0.5rem;
        width: 322px;
        height: 200px;
        margin-left: 8px;
    }

    .proj-overlap-three{
        position: absolute;
        top: 349px;
        left: 30px;
        font-size: 12px;
        color: rgb(163, 128, 10);
        border-radius: 0.8rem;
        padding: 0.3rem 1rem;
        z-index: 1;
        background-color: white;
        border: none;
    }

    .part-two{
        display: flex;
        justify-content: space-around;
        position: relative;
        margin-top: 1rem;
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .blog-img{
        width: 322px;
        height: 200px;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
    }
    
    .blog-overlap{
        position: absolute;
        font-size: 12px;
        color: white;
        border-radius: 0.8rem;
        padding: 0.5rem 1rem;
        z-index: 1;
    }
    
    .part-two .blog-overlap-one{
        top:195px;
        left: 42px;
        background-color: rgb(221, 115, 198);
    }
    
    .part-two .blog-overlap-two{
        top:195px;
        left: 398px;
        background-color: rgb(240, 198, 61);
    }
    
    .part-two .blog-overlap-three{
        top:195px;
        left: 754px;
        background-color: rgb(39, 145, 207);
    }
    
    .part-two h5{
        font-size: 20px;
        padding-left: 20px;
        padding-top: 1.5rem;
    }
    
    .part-two p{
        font-size: 16px;
        padding: 5px 30px 0px 20px;
    }
    
    .blogs{
        margin-top: 10px;
        margin-left: 8px;
        border-radius: 0.2rem;
    }
    
    .blog-desc{
        position: absolute;
        border: 1px solid rgb(224, 222, 222);
        top: 210px;
        width: 322px;
        padding: 5px 0px 15px 0px;
        border-radius: 0rem 0rem 0.5rem 0.5rem;
    }

    .footer{
        padding: 15rem 0rem 3rem 0rem;
    }
    .footer-list{
        display: flex;
        justify-content: center;
        column-gap: 2rem;
    }
    
    .footer-list{
        list-style: none;
        font-size: 16px;
        color: grey;
    }
    
    .footer-icons{
        font-size: 18px;
        color: grey;
        padding-right: 1rem;
        padding-top: 1.5rem;
    }
    
    .footer-copyright{
        font-size: 16px;
        text-align: center;
        padding-top: 1.2rem;
        color: rgb(185, 184, 184);
    }
    
}



